.container {
  width: 310px;
  .slider {
    border-radius: 5px;
    background: #E0E0E0;
    background: linear-gradient(left top, #E0E0E0, #EEEEEE);
    width: 100%;
    height: 15px;
    cursor: pointer;
    position: relative;
    .progress-bar {
      background-color: purple;
      height: 100%;
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      border-radius: inherit;
    }
    .thumb {    
      position: relative;
      width: 10px;
      z-index: 5;
      .handle {
        position: relative;
        top: -5px;
        right: 5px;
        background: lightblue;
        cursor: pointer;
        width: 10px;
        height: 25px;
        border-radius: 3px;
        border: 1px solid blue;
      }
      .tooltip {
        height: 20px;
        position: fixed;
        width: 9px;
        top: 30px;
        margin-left: -7.5px;
      }
    }
  }
  .scale {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
  }
}

